*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 min-height: 100vh;
}

.img-container img{
    width: 100%;
    object-fit: contain;
}
.name-container{
    font-size: 1.5vw;
    text-align: center;
    padding: 7px;
}
.price-container{
    font-size: 1.5vw;
    color: #0D6EFD;
    text-align: center;
    padding-bottom: 7px;
}
.content-container{

}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-container a{
font-size: 0.8vw;
width: 50%;
}
.contact{
    height: 300px;
}
@media (max-width: 576px) { 
    .btn-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .btn-container a{
        font-size: 1.5vw;
        width: 100%;
        }
    
}

/* footer section */

